@charset "UTF-8";
/*
	common
	head
	footer
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {background-color: #f1f1f2;padding-top: 80px;}

body {font-family: 'Nanum Gothic',"Helvetica Neue",Helvetica,Arial,sans-serif;}

img, object, embed, video {max-width: 100%;}

img {border: 0;}

a:link    {color:#333333; background-color:transparent; text-decoration:none}
a:visited {color:#333333; background-color:transparent; text-decoration:none}
a:hover   {color:#939598; background-color:transparent; text-decoration:none}
a:active  {color:#333333; background-color:transparent; text-decoration:none}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {width:100%;}

ul, ol {margin: 0px;padding: 0px;}
li {list-style: none;}

.thumbnail {margin-bottom: 0px;}

.p5 {padding: 5px;}
.pl10 {padding-left: 10px;}
.ml10 {margin-left: 10px;}
.carousel {margin-bottom: 0px;}
#topNavbar {background-color: #ea0465;background-image: none;height: 73px;}
#mainTopLeftMenu,#mainTopLeftChannel,#relationArea,#mainTopRight,#footerLogo{display: none;}
#SNSList{margin-top: 25px;}
#SNSList li{ margin-left: 10px;}
#SNSList li>a{padding: inherit;}
.footer{height: 43px;background-color: #444444;color: #CCC;text-align: right;font-size: 11px;}
.footer p{margin-top: 10px;}

/* Medium devices (desktops, 768px and up) 
@media (min-width: @screen-md-min) {
*/

@media only screen and (min-width: 768px) {

.footer{font-size: 14px;}
#SNSList {display: block;}
#footerLogo{display: inline;}

	
}

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) {
*/
@media only screen and (min-width: 992px) {

#SNSList{display: block;}

	
}


/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) {
*/
@media only screen and (min-width: 1200px) {


	
	
}

