@charset "UTF-8";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


#mainBanner{
	width: 100%;
}

#mainBannerCarousel {
	width: 100%;	
}

#mainTopLeft {
	margin-left: 0px;
	float: left;
}

#mainTopLeft #mainTopLeftChannel {
	margin-top: 10px;
	height: auto;
	overflow: auto;
}	


#mainTopCenter {
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
	
	
#mainTopRight {
	background-color: #fff;
	height: 364px;
	border: 1px solid #e6e7e8;
	float: right;	
	overflow: hidden;
}


#mainTopRight #ranking {
	margin-left: 20px;
}

#mainTopRight #ranking li {
	margin-top: 5px;
	cursor: pointer;
}

#mainList {
	margin-top: 10px;
}

#movieListWrap, #movieList {
	width: 100%;
}

#movieList li {
	width: 100%;
	float: left;
	cursor: pointer;
	
}

#movieList li img{
	width: 100%;
}

#movieList li .content-item-over {
	position: absolute;
	left: -1000px;
	width: 0;
	height: 0;
	display: none;
}

#movieList li .content-item-txt {
	height: 45px;
	overflow: hidden;
}


#relationList #relationTitle {
	color: #ea0465;
}

#movieContent {
	min-height: 600px;
	padding-left: 25px;	
}

#modalMovieView #modalMovieDialog .modal-header{
	border-bottom: none;
	height: 60px;
}

#modalMovieView #modalMovieDialog #contentArea .modal-title{
	margin: -15px auto;
	width:124px;
}

/* #moviePlayer {
	width: 625px;
	height: 350px;
}
 */
#movieInfo {
	padding-left: 30px;
	padding-right: 20px;
}

#movieContent #movieInfo #movieTitle {
	color: #ea0465;	
}

#relationContentList li {
	cursor: pointer;	
}


/* Medium devices (desktops, 768px and up) 
@media (min-width: @screen-md-min) {
*/

@media only screen and (min-width: 768px) {
#movieList li .content-item-over {
	left: auto;
}

.panel{margin-bottom: 0px;}
#movieContent{min-height: 650px;}
#mainTopLeft #mainTopLeftChannel{height: 236px;}	
#movieList li{width: 235px;height: 200px;}
#movieList li .content-item-over{width: 225px;}
#movieContent{min-height: 650px;}
#mainTopRight #ranking{margin-top: 19px;}
#modalMovieDialog{width: 720px;}
#modalMovieDialog #contentArea{width: 700px;float: none;margin: 0 auto;}

}

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) {
*/
@media only screen and (min-width: 992px) {

#topChannelList{display: none;}
#bigModalCloseBtn{display: none;}
#mainTopLeftMenu,#mainTopLeftChannel,#mainTopRight,#relationArea{display: block;}
#channelList li{margin-bottom: 20px;}
#mainTopLeft #mainTopLeftChannel{height: 236px;}	
#mainTopRight {height: 300px;}
#movieList li{width: 235px;height: 200px;}
#movieList li .content-item-over{width: 225px;}
#movieContent{min-height: 650px;}
#relationContentList{padding-left: 10px;padding-right: 10px;overflow: auto;height: 550px;}
#relationContentList li{height: 73px;}
#relationContentList li:hover{background-color: #ffd2d5;}
.content-item-txt{padding-left: 10px;padding-right: 5px;}
#mainTopRight #ranking{margin-top: 19px;}
#btnMore{margin-top: 10px;}
#modalMovieDialog{width: 950px;}
#modalMovieDialog #contentArea{width: 700px;float: left;}
#modalMovieDialog #relationArea{width: 245px;float: right;}

}

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) {
*/
@media only screen and (min-width: 1200px) {

#mainTopLeft #mainTopLeftChannel{height: 302px;}
#mainTopRight{height: 364px;}
#movieList li{width: 285px;height: 245px;}
#movieList li .content-item-over{width: 275px;}
#relationList{height: 620px;}
#modalMovieDialog{width: 1120px;}
#modalMovieDialog #contentArea{width: 825px;float: left;}
#modalMovieDialog #relationArea{width: 274px;float: right;}
#relationContentList li{height: 81px;}

}