@charset "UTF-8";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
	background-color: #f1f1f2;
	padding-top: 80px;
}

.p5 {
	padding: 5px;
}

.pl10 {
	padding-left: 10px;
}

.ml10 {
	margin-left: 10px;
}

.carousel {
	margin-bottom: 0px;	
}

#topNavbar {
	background-color: #ea0465;
	background-image: none;
	height: 73px;
}

#topChannelList {
	display: block;
}

#mainTopLeftMenu,#mainTopLeftChannel,#mainTopRight,#footerLogo {
	display: none;
}

#SNSList { 
	margin-top: 25px;
}

#SNSList li { 
	margin-left: 10px;
}

#SNSList li>a{
	padding: inherit;
}

#mainBanner{
	width: 100%;
}

#mainBannerCarousel {
	width: 100%;	
}

#mainTopLeft {
	margin-left: 0px;
	float: left;
}

#mainTopLeft #mainTopLeftChannel {
	margin-top: 10px;
	height: auto;
	overflow: auto;
}	


#mainTopCenter {
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
	
	
#mainTopRight {
	background-color: #fff;
	height: 364px;
	border: 1px solid #e6e7e8;
	float: right;	
	overflow: auto;
}


#mainTopRight #ranking {
	margin-left: 20px;
}

#mainTopRight #ranking li {
	margin-top: 5px;
}

#mainList {
	margin-top: 10px;
}

#movieListWrap, #movieList {
	width: 100%;
}

#movieList li {
	width: 100%;
	float: left;
	cursor: pointer;
	
}

#movieList li img{
	width: 100%;
}

#movieList li .content-item-over {
	position: absolute;
	left: -1000px;
	width: 0;
	height: 0;
	display: none;
}

#movieList li .content-item-txt {
	height: 45px;
	overflow: hidden;
}


#relationList #relationTitle {
	color: #ea0465;
}

#movieContent {
	min-height: 650px;
	padding-left: 25px;	
}

/* #moviePlayer {
	width: 625px;
	height: 350px;
}
 */
#movieInfo {
	padding-right: 20px;
}

#movieContent #movieInfo #movieTitle {
	color: #ea0465;	
}

#relationList{
	display: none;
}

.footer {
	height: 43px;
	background-color: #444444;
	color: #CCC;
	text-align: right;
	font-size: 11px;
}

.footer p {
	margin-top: 10px;
}


/* Medium devices (desktops, 768px and up) 
@media (min-width: @screen-md-min) {
*/

@media only screen and (min-width: 768px) {

.panel {	margin-bottom: 0px;}

.footer {
	font-size: 14px;
}

#SNSList {
	display: block;
}

#footerLogo{
	display: inline;
}

#mainTopLeft #mainTopLeftChannel {
	height: 236px;
}	

#movieList li {
	width: 235px;
	height: 200px;
}

#movieList li .content-item-over {
	width: 225px;
}

#movieContent {
	min-height: 650px;
}

/* #moviePlayer {
	width: 525px;
	height: 350px;
}
 */
#mainTopRight #ranking {
	margin-top: 19px;	
}
	
	
	
	
}

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) {
*/
@media only screen and (min-width: 992px) {

.panel {	margin-bottom: 0px;}

#topChannelList {
	display: none;
}

#mainTopLeftMenu,#SNSList,#mainTopLeftChannel,#mainTopRight,#relationList {
	display: block;
}

#channelList li {
	margin-bottom: 20px;	
}

#mainTopLeft #mainTopLeftChannel {
	height: 236px;
}	

#mainTopRight {
	height: 300px;
}

#movieList li {
	width: 235px;
	height: 200px;
}


#movieList li .content-item-over {
	width: 225px;
}


#movieContent {
	min-height: 650px;
}

#relationContentList {
	overflow: auto;
	height: 550px;	
}

#mainTopRight #ranking {
	margin-top: 19px;	
}

#relationContentList li {
	width: 213px;
	height: 80px;
}

.content-item-txt {
	padding-left: 10px;
	padding-right: 5px;
}

#btnMore{
	margin-top: 10px;
}




}

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) {
*/
@media only screen and (min-width: 1200px) {

#mainTopLeft #mainTopLeftChannel {
	height: 302px;
}	

#mainTopRight {
	height: 364px;
}

#movieList li {
	width: 285px;
	height: 245px;
}

#movieList li .content-item-over {
	width: 275px;
}

#relationList {
	height: 620px;
}






}